form
  display: flex
  flex-direction: column
  align-items: stretch
  justify-content: flex-start
  gap: 8px

  .actions
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start
    gap: 8px
