<app-list-item class="app-reservation-list-item-checked-in">
  <app-list-item-prepend>
    <app-avatar-placeholder avatar color="success" [initials]="reservationService.getInitials(reservation.guest?.name)"/>
  </app-list-item-prepend>

  <app-list-item-text>
    <app-list-item-title>
      {{ getGuestName(reservation.guest!) }}
      <mat-icon class="success-text">alternate_email</mat-icon>
      {{ reservation.accommodation!.title }}
    </app-list-item-title>
    <app-list-item-subtitle color="success">Checked in at {{ reservation.checkIn | date:"MMM dd, yyyy 'at' hh:mm a" }}</app-list-item-subtitle>
  </app-list-item-text>

  <app-list-item-append>
    <button mat-stroked-button extended color="error" [routerLink]="['/']">
      <mat-icon>logout</mat-icon>
      Check out
    </button>
  </app-list-item-append>
</app-list-item>
