.mat-toolbar
  background-color: #fff
  height: 80px
  border-bottom: solid 1px #efefef
  position: fixed
  top: 0
  left: 0
  z-index: 999

  .content
    width: 800px
    margin: 0 auto
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

  .nav
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    gap: 8px
