<app-list-item class="app-reservation-list-item-checked-out">
  <app-list-item-prepend>
    <app-avatar-placeholder avatar color="error" [initials]="reservationService.getInitials(reservation.guest?.name)"/>
  </app-list-item-prepend>

  <app-list-item-text>
    <app-list-item-title>
      {{ getGuestName(reservation.guest!) }}
      <mat-icon class="error-text">alternate_email</mat-icon>
      {{ reservation.accommodation!.title }}
    </app-list-item-title>
    <app-list-item-subtitle color="error">Checked out at {{ reservation.checkOut | date:"MMM dd, yyyy 'at' hh:mm a" }}</app-list-item-subtitle>
  </app-list-item-text>
</app-list-item>
