<div class="app-reservation-list">
  <div class="arriving-today">
    <h2>Arriving today</h2>

    <div class="list">
      @for (reservation of arrivingTodayReservations; track reservation.id) {
        @if (reservation.checkIn) {
          <app-reservation-list-item-checked-in [reservation]="reservation" [canCheckOut]="false"/>
        } @else {
          <app-reservation-list-item-not-checked-in [reservation]="reservation" (checkIn)="updateReservations()"/>
        }
      }
    </div>
  </div>

  <div class="leaving-today">
    <h2>Leaving today</h2>

    <div class="list">
      @for (reservation of leavingTodayReservations; track reservation.id) {
        @if (reservation.checkIn && reservation.checkOut) {
          <app-reservation-list-item-checked-out [reservation]="reservation" />
        } @else {
          <app-reservation-list-item-checked-in [reservation]="reservation" (checkOut)="updateReservations()" [canCheckOut]="true"/>
        }
      }
    </div>
  </div>
  <!-- <app-reservation-list-item-checked-in [reservation]="reservation" />
  <app-reservation-list-item-checked-out [reservation]="reservation" /> -->
</div>
