<app-list-item class="app-reservation-list-item-not-checked-in">
  <app-list-item-prepend>
    <app-avatar-placeholder avatar color="information" [initials]="reservationService.getInitials(reservation.guest?.name)"/>
  </app-list-item-prepend>

  <app-list-item-text>
    <app-list-item-title>
      {{ getGuestName(reservation.guest!) }}
      <mat-icon class="information-text">alternate_email</mat-icon>
      {{ reservation.accommodation!.title }}
    </app-list-item-title>
    <app-list-item-subtitle color="information">Not checked in yet</app-list-item-subtitle>
  </app-list-item-text>

  <app-list-item-append>
    <button mat-stroked-button extended color="success" [routerLink]="['/']">
      <mat-icon>check</mat-icon>
      Check in
    </button>
  </app-list-item-append>
</app-list-item>
