<app-reservation-list-item class="app-reservation-list-item-not-checked-in">
  <app-avatar-placeholder avatar color="information" [initials]="reservationService.getInitials(reservation.guest?.name)"/>
  <app-reservation-list-item-text>
    <app-reservation-list-item-title>{{ reservation.guest?.name + " " + reservation.guest?.surname }}</app-reservation-list-item-title>
    <app-reservation-list-item-subtitle color="information">Has not checked in yet</app-reservation-list-item-subtitle>
  </app-reservation-list-item-text>
</app-reservation-list-item>
