<div class="page-header">
  <h1>Hóspedes</h1>

  <button mat-raised-button extended color="primary" [routerLink]="['/guests/new']">
    <mat-icon fontIcon="add"/>
    Cadastrar
  </button>
</div>

<div class="filter">
  <mat-form-field [subscriptSizing]="'dynamic'">
    <mat-label>Filtrar por nome, documento ou contato</mat-label>
    <input matInput (keyup)="filter($event)" #input>
  </mat-form-field>

  <mat-radio-group aria-label="Select an option" class="type-of-guest" [(ngModel)]="typeOfGuest" (change)="getGuests()">
    <mat-radio-button value="SHOW_ALL">Mostrar todos os hóspedes</mat-radio-button>
    <mat-radio-button value="SHOW_ONLY_CHECKED_IN">Mostrar apenas os hóspedes que estão atualmente no hotel</mat-radio-button>
    <mat-radio-button value="SHOW_ONLY_NON_CHECKED_IN_WITH_RESERVATION">Mostrar apenas hóspedes com reserva que não realizaram check-in</mat-radio-button>
  </mat-radio-group>
</div>


<table mat-table [dataSource]="table" class="mat-elevation-z1 guest-table">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let guest">{{ guest.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="document">
    <mat-header-cell *matHeaderCellDef>Documento</mat-header-cell>
    <mat-cell *matCellDef="let guest">{{ guest.document }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef>Contato</mat-header-cell>
    <mat-cell *matCellDef="let guest">{{ guest.phone }}</mat-cell>
  </ng-container>

  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row matRipple *matRowDef="let row; columns: displayedColumns;let guest;" (click)="redirectTo('/guests/' + guest.id)"></mat-row>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="3"><div class="no-guest-found">Nenhum hóspede encontrado.</div></td>
  </tr>
</table>
