<div class="page-header">
  <h1>Hóspedes</h1>

  <button mat-raised-button extended color="primary" [routerLink]="['/guests/new']">
    <mat-icon fontIcon="add"/>
    Cadastrar
  </button>
</div>

<div class="filter">
  <mat-form-field>
    <mat-label>Filtrar por nome, documento ou contato</mat-label>
    <input matInput (keyup)="filter($event)" #input>
  </mat-form-field>
</div>

<table mat-table [dataSource]="table" class="mat-elevation-z1 demo-table">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let guest">{{ guest.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="document">
    <mat-header-cell *matHeaderCellDef>Documento</mat-header-cell>
    <mat-cell *matCellDef="let guest">{{ guest.document }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef>Contato</mat-header-cell>
    <mat-cell *matCellDef="let guest">{{ guest.phone }}</mat-cell>
  </ng-container>

  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row matRipple *matRowDef="let row; columns: displayedColumns;let guest;" (click)="redirectTo('/guests/' + guest.id)"></mat-row>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="3">Nenhum resultado encontrado para "{{input.value}}"</td>
  </tr>
</table>
