
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@use "sass:map";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$birdie-ui-primary: mat.define-palette(mat.$red-palette);
$birdie-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$birdie-ui-information: mat.define-palette(mat.$light-blue-palette);
$birdie-ui-success: mat.define-palette(mat.$light-green-palette);
$birdie-ui-warn: mat.define-palette(mat.$orange-palette);
$birdie-ui-error: mat.define-palette(mat.$pink-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$birdie-ui-theme: mat.define-light-theme((
  color: (
    primary: $birdie-ui-primary,
    accent: $birdie-ui-accent
  ),
  typography: mat.define-typography-config(),
  density: 0
));

$primary-default: mat.get-theme-color($birdie-ui-theme, primary, default);
$accent-default: mat.get-theme-color($birdie-ui-theme, accent, default);

$information-default: map.get(mat.$light-blue-palette, 500);
$success-default: map.get(mat.$light-green-palette, 500);
$success-light: map.get(mat.$light-green-palette, 50);
$warn-default: map.get(mat.$orange-palette, 500);
$error-default: map.get(mat.$pink-palette, 500);
$error-light: map.get(mat.$pink-palette, 50);

$disabled-default: #ccc;

.primary-text {
  color: $primary-default !important;
}

.primary-background {
  color: #fff;
  background-color: $primary-default !important;
}

.accent-text {
  color: $accent-default !important;
}

.accent-background {
  color: #fff;
  background-color: $accent-default !important;
}

.information-text {
  color: $information-default !important;
}

.information-background {
  color: #fff;
  background-color: $information-default !important;
}

.mdc-button.information-background {
  color: white !important;
  background-color: $information-default !important;
}

.success-text {
  color: $success-default !important;
}

.success-background {
  color: #fff;
  background-color: $success-default !important;
}

.mdc-button.success-background {
  color: white !important;
  background-color: $success-default !important;
}

.mat-mdc-outlined-button[color="success"]:not(:disabled) {
  color: $success-default !important;
  background-color: transparent !important;

  &:hover {
    background-color: $success-light !important;
  }
}

.warn-text {
  color: $warn-default !important;
}

.warn-background {
  color: #fff;
  background-color: $warn-default !important;
}

.mdc-button.warn-background {
  color: white !important;
  background-color: $warn-default !important;
}

.mat-mdc-outlined-button[color="error"]:not(:disabled) {
  color: $error-default !important;
  background-color: transparent !important;

  &:hover {
    background-color: $error-light !important;
  }
}

.error-text {
  color: $error-default !important;
}

.error-background {
  color: #fff;
  background-color: $error-default !important;
}

.mdc-button.error-background {
  color: white !important;
  background-color: $error-default !important;
}

.disabled-text {
  color: $disabled-default !important;
}

.disabled-background {
  color: #fff;
  background-color: $disabled-default !important;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($birdie-ui-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-button {
  border-radius: 9999px !important
}

.mat-mdc-dialog-surface {
  border-radius: 24px !important;
}

.mat-mdc-dialog-actions {
  padding: 12px 24px !important
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.icon-background {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mat-icon {
    color: white;
    transform: scale(1.5)
  }
}

h1, h2 {
  font-weight: normal;
}
